h1, p {
  font-family: Lato;
}

.list {
 
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 400px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.lis {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #D3CBFC;
  text-align: center;
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
  border-radius: 3px;
}
input {
  margin-right: 20px;
}



.contactBox {

  border: solid 1px black;
  
}